name: Build and Deploy (Azure Functions)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  FUNCTION_PROJECT: src/Functions/Functions.csproj

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Publish
        shell: pwsh
        run: |
          dotnet publish $env:FUNCTION_PROJECT -c Release -o publish

      - name: Deploy to Azure Functions (Publish Profile)
        uses: Azure/functions-action@v1
        with:
          app-name: "ccd-func-otpo3ptm46ydu"
          package: "publish"
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}